@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1, h2 {
    margin-bottom: 16px;
    line-height: 1.2em;
}

p {
    margin-bottom: 8px;
    text-align: justify;
}

header, section.normal {
    padding: 16px;
}

section.flex-content {
    padding: 16px;
    background-color: rgb(232, 205, 250);
    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 400px;
}

article > div.media {
    flex: 1 0 400px;
}

div.media > img {
    display: block;
    margin: auto;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}