@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgb(101, 149, 190);
    color: white;
    padding: 16px;
}



main {
    background-color: white;
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.37);
}