@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgb(101, 149, 190);
    color: white;
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 150px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    text-decoration: none;
    color: white;
    background-color: rgb(43, 92, 148);
    margin: 4px;
    padding: 8px;
    border-radius: 16px;
    text-align: center;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}

header > nav > a:hover {
    background-color: white;
    color: rgb(43, 92, 148);
}

main {
    background-color: white;
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.37);
}